/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#ahorcado {
  margin: 20px;
}

#ahorcado img {
  max-width: 100%;
}

#palabra, #intentos, #letras-adivinadas {
  margin: 10px;
}

#intentos {
  color: #333;
  font-weight: bold;
}

#letras-adivinadas {
  color: #777;
}

input[type="text"] {
  padding: 5px;
  font-size: 18px;
  width: 100px;
}

button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

}

  
  
  
  
  
  
